﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @if (ViewData.ContainsKey("Reload"))
        {
            <meta http-equiv="refresh" content="@ViewData["Reload"]">
        }
        <title>@ViewData["Title"]</title>
        <environment names="Development">
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
@if (ViewData.ContainsKey("Style"))
{
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/@(ViewData["Style"] + ".css")" id="css" />
}
else
{
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/default.css" id="css" />
}
        <link rel="stylesheet" href="~/css/flipclock.css" />
        <link rel="stylesheet" href="~/css/featherlight.min.css" type="text/css" />
        <link rel="stylesheet" href="~/css/unslider.css" />
        <link rel="stylesheet" href="~/css/unslider-dots.css" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">Counting Down</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!--<li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>-->
                        <li><a asp-controller="Account" asp-action="NewEvent">New Event</a></li>
                    </ul>
                    @* @await Html.PartialAsync("_LoginPartial") *@
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
