﻿<html>
    <head>
        <link rel="stylesheet" href="~/css/flipclock.css">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/flipclock.min.js"></script>
    </head>
    <body>
        <div class="panel" style="margin:25px; text-align:center">
            <h1>
                Counting Down To...
            </h1>
            <div class="flip-clock" style="margin:25px"></div>
            <h1>
                Event Info
            </h1>
            <b>
                This is the event info.
            </b>
        </div>

        <div class="container-fluid">
            <div class="row-fluid" style="height:250px;">
                <div class="col-lg-3 col-lg-offset-1" style="background:skyblue;height:100%;margin:10px;box-shadow: 5px 5px 5px #888888;">
                    <h4 class="modal-title" style="text-align:center">
                        Images
                    </h4>
                </div>
                <div class="col-lg-5" style="background:lightgreen;height:100%;margin:10px;box-shadow: 5px 5px 5px #888888;">
                    <h4 class="modal-title" style="text-align:center">
                        Info
                    </h4>
                </div>
                <div class="col-lg-3" style="background:orange;height:100%;margin:10px;box-shadow: 5px 5px 5px #888888;">
                    <h4 class="modal-title" style="text-align:center">
                        Messages
                    </h4>
                </div>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">
	var clock = $('.flip-clock').FlipClock(2, {
		clockFace: 'DailyCounter',
		countdown: true,
		showSeconds: true
	});
</script>