﻿@model CountingDown.ViewModels.Home.HomePageModel
@{
    ViewData["Title"] = "CountingDown.To...";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<html>
<body>
    <div class="jumbotron" id="title">
        <h1>
            Counting Down To...
        </h1>
    </div>

    <h4 style="font:italic 12px verdana;text-align:center">Some random public events</h4>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox" style="text-align:center;height:350px">
@for (int i = 0; i < Model.RandomEvents.Count; i++)
{
    @if (string.IsNullOrEmpty(Model.RandomEvents[i].ImagePath))
    {
        Model.RandomEvents[i].ImagePath = "/images/default.png";
    }

    <div class="item @Html.Raw(i == 0 ? "active":"")">
        <h1>
            @Html.ActionLink(@Model.RandomEvents[i].EventName, "ViewEvent", new { id = @Model.RandomEvents[i].EventId })
        </h1>
        <div class="card">
            <figure class="front">
                <div id="carouselevent">
                    <img src="@Model.RandomEvents[i].ImagePath" />
                </div>
            </figure>
            <figure class="back">
                <div id="carouselevent">
                    <div class="reversed">
                    <img src="@Model.RandomEvents[i].ImagePath" />
                    </div><br/>
                    
                    <div id="cardinfo">
                        <h4 style="font-weight:bold;">@Model.RandomEvents[i].Description</h4>
                        <h5>Date Due:<br />@Model.RandomEvents[i].DueDate</h5>
                        <!--<div id="clock">
                            <div class="flip-clock-small" style="margin:25px;" hidden="hidden"></div>
                        </div>-->
                    </div>
                </div>
            </figure>
        </div>
    </div>

    /*@if (@Model.RandomEvents[i].RemainingTimeInSeconds != 0)
    {
        <script type="text/javascript">
            var clock = $('.flip-clock-small').FlipClock();
            clock = $('.flip-clock-small').FlipClock(@Model.RandomEvents[i].RemainingTimeInSeconds, {
                autostart: true,
		        clockFace: 'DailyCounter',
		        countdown: true,
		        showSeconds: true
            });
        </script>
    }*/
}
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
    <div class="row" style="text-align:center;height:350px">
        <div class="col-md-3">
            <h3>New</h3>
            <hr />
            <div class="list-group">
                @foreach (var pair in Model.RecentEvents)
                {
                    <p class="list-group-item">
                        @Html.ActionLink(@pair.EventName, "ViewEvent", new { id = @pair.EventId })
                    </p>
                }
            </div>
        </div>
        <div class="col-md-3">
            <h3>Trending</h3>
            <hr />
            <div class="list-group">
                <p class="list-group-item">
                    Coming soon...
                </p>
                <p class="list-group-item">
                    Coming soon...
                </p>
                <p class="list-group-item">
                    Coming soon...
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <h3>Ending Soon</h3>
            <hr />
            <div class="list-group">
                @foreach (var pair in Model.EndingEvents)
                {
                    <p class="list-group-item">
                        @Html.ActionLink(@pair.EventName, "ViewEvent", new { id = @pair.EventId })
                    </p>
                }
            </div>
        </div>
        <div class="col-md-3">
            <h3>Ended Recently</h3>
            <hr />
            <div class="list-group">
                @foreach (var pair in Model.EndedEvents)
                {
                    <p class="list-group-item">
                        @Html.ActionLink(@pair.EventName, "ViewEvent", new { id = @pair.EventId })
                    </p>
                }
            </div>
        </div>
    </div>
</body>
</html>

<script id="flip-card">
    var init = function ()
    {
        $('.card').on("click", function (e) {
            $(this).toggleClass('flipped');
        });
    }
    window.addEventListener('DOMContentLoaded', init, false);
</script>