@model CountingDown.ViewModels.Account.EventViewModel
@{
    ViewData["Title"] = "Counting down to " + @Model.Name;
    ViewData["Style"] = Model.StyleName;
}
@if (Model.SecondsToGo > 0 && Model.SecondsToGo < 36000)
{
    ViewData["Reload"] = @Model.SecondsToGo;
}
@section Scripts
{
    <script src="~/js/featherlight.min.js"></script>
    @if (Model.ImageUrls.Count > 0)
    {
        <script src="~/js/unslider-min.js"></script>
        <script>
            jQuery(document).ready(function($) {
                $('.slider').unslider({autoplay: true, arrows: false});
            });
        </script>
    }

    @if (Model.SecondsToGo <= 0)
    {
        <script src="~/js/fireworks.js"></script>
    }
    else
    {
        <script src="~/js/flipclock.min.js"></script>

        <script type="text/javascript">
            var distance = @Model.SecondsToGo * 1000;

            var clock = $('.flip-clock').FlipClock();
            clock = $('.flip-clock').FlipClock(@Model.SecondsToGo, {
                autostart: true,
                clockFace: 'DailyCounter',
                countdown: true,
                showSeconds: true
            });
        </script>

        <script src="~/js/Countdown.js"></script>
    }
}

<a class="btn btn-info" href="/account/editevent/@Model.PathName">Edit</a>
<a class="btn btn-warning" href="/account/manageevent/@Model.PathName">Manage</a>
<div class="panel" id="viewevent">
    <div class="panel-heading" id="title">
        <h3>
            Counting Down To...
        </h3>
        <h1 style="font-size:42px">
            @Html.DisplayFor(model => model.Name)
        </h1>
    </div>
    <div class="panel-body" id="clock">
        @if (Model.SecondsToGo <= 0)
        {
            <h2>
                Happened on @Html.DisplayFor(model => model.Due)
            </h2>
            <h2>@Html.DisplayFor(model => model.EndMessage)</h2>
        }
        else
        {
            <!--<div class="flip-clock" style="margin:25px"></div>-->

            <div>
                <div id="flipclock">
                    <div class="flipclock-title">Years</div>
                    <span class="countdown" id="countdown_year"></span>
                    <span class="countdown" id="countdown_year2"></span>
                </div>
                <div id="flipclock">
                    <div class="flipclock-title">Months</div>
                    <span class="countdown" id="countdown_month"></span>
                    <span class="countdown" id="countdown_month2"></span>
                </div>
                <div id="flipclock">
                    <div class="flipclock-title">Weeks</div>
                    <span class="countdown" id="countdown_week"></span>
                    <span class="countdown" id="countdown_week2"></span>
                </div>
                <div id="flipclock">
                    <div class="flipclock-title">Days</div>
                    <span class="countdown" id="countdown_day"></span>
                    <span class="countdown" id="countdown_day2"></span>
                </div>
                <div id="flipclock">
                    <div class="flipclock-title">Hours</div>
                    <span class="countdown" id="countdown_hour"></span>
                    <span class="countdown" id="countdown_hour2"></span>
                </div>
                <div id="flipclock">
                    <div class="flipclock-title">Mins</div>
                    <span class="countdown" id="countdown_minute"></span>
                    <span class="countdown" id="countdown_minute2"></span>
                </div>
                <div id="flipclock">
                    <div class="flipclock-title">Secs</div>
                    <span class="countdown" id="countdown_second"></span>
                    <span class="countdown" id="countdown_second2"></span>
                </div>
            </div>
            <h4>
                @Html.DisplayFor(model => model.Due)
            </h4>
        }
    </div>
    <h3>
        @Html.DisplayFor(model => model.Description)
    </h3>
</div>

<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-lg-3">
            <div class="panel panel-default" id="imgbox">
                <div class="panel-heading">
                    <h3 class="panel-title">Images</h3>
                </div>
                <div class="panel-body">
                    @if (Model.ImageUrls.Count > 0)
                    {
                        <div class="slider">
                            <ul>
                                @{
                                    int i = 0;
                                }
                                @foreach (string imgUrl in Model.ImageUrls)
                                {
                                    <li>
                                        <a href="#" data-featherlight="#mylbox@((++i).ToString())">
                                            <img src="@imgUrl" style="margin-top:12px;width:100%;height:100%" />
                                        </a>
                                        <div style="display:none"><div id="mylbox@(i.ToString())"><img src="@imgUrl" /></div></div>
                                    </li>
                                }
                            </ul>
                        </div>
                     }
                     else
                     {
                        <img src="/images/default.png" style="margin-top:12px;width:100%;height:100%" />
                     }
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default" id="infobox">

                <div class="panel-heading">
                    <h3 class="panel-title">Information</h3>
                </div>

                <div class="panel-body">
                    <h4 class="modal-title" style="text-align:center">
                        @Html.DisplayFor(model => model.Name)
                    </h4>
                    <table class="table-condensed">
                        <tr><th>Event Details: </th><td>@Html.DisplayFor(model => model.Details)</td></tr>
                        <tr><th>Last Modified: </th><td>@Html.DisplayFor(model => model.Created)</td></tr>
                        <tr><th>Contact:</th><td>@Html.DisplayFor(model => model.OwnerEmail)</td></tr>
                    </table>
                </div>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default" id="messagebox">

                <div class="panel-heading">
                    <h3 class="panel-title">Messages</h3>
                </div>

                <div class="panel-body">
                    <!-- begin wwww.htmlcommentbox.com -->
                    <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Form</a> is loading comments...</div>
                    <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
                    <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24e0Eo0y06prWCFf7okKzUW0"+"&opts=16670&num=5&ts=1466518848065");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
                    <!-- end www.htmlcommentbox.com -->
                </div>

            </div>
        </div>
    </div>
</div>
