﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

#title {
    border-radius: 5px;
    height:100%;
    margin:10px;
}

.flip-clock-small {
  zoom: 0.5;
  -moz-transform: scale(0.5)
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.75s;
}

.card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card .front {
    z-index: 2;
    backface-visibility: hidden;
}
.card .back {
    backface-visibility: hidden;
    transform: rotateY( 180deg );
}
.card.flipped {
  transform: rotateY( 180deg );
}

.card.flipped_vert {
  transform: rotateX( 360deg );
}

#clock {
    border-radius: 5px;
    margin:10px;
    height:100%;
}

#flipclock {
    background-color: #313131;
    border-radius: 10px;
    height: 110px;
    width: 100px;
    text-align: center;
    display: inline-block;
    color: black;
    font-size: 10px;
    margin: 5px 5px;
}

.flipclock-title {
    color: white;
    padding: 5px;
}

.countdown {
    border: 1px solid white;
    width: 40px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin: 5px 2px;
    padding: 10px 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    clear:both;
}

#carouselevent {
    cursor: pointer;
    margin:auto;
    min-width: 90px;
    min-height: 40px;
    max-width: 30%;
    max-height: 225px;
}

#carouselevent img {
    max-width:100%;
    max-height:225px;
    margin:0 auto;
}

#carouselevent .reversed {
    width:30%;
    position:absolute;
    z-index:-1;
    opacity:0.2;
    transform:rotateY(180deg);
}

#cardinfo {
    padding:0 25px;
}

#optionsbutton {
    margin: 10px;
}

#messagebox {
    vertical-align:central;
    border-radius: 5px;
    height:100%;
}

#HCB_comment_box {
    height:auto;
}

#viewevent {
    padding: 5px;
    border-radius: 5px;
    text-align:center;
}

#eventconfirm {
    vertical-align:central;
    border-radius: 5px;
    height:100%;
    margin:10px;
}

#imgbox {
    border-radius: 5px;
    height:100%;
}

#infobox {
    height:100%;
    border-radius: 5px;
}

#newevent {
}

#neweventheader {
    text-align:center;
}

#createeventbtn {
    border:2px;
    font-size:large;
    font-weight: bold;
    width:100%;
    border-radius: 5px;
}