@model CountingDown.ViewModels.Account.ConfirmEventViewModel

@{
    ViewData["Title"] = "Administer " + @Model.Event.Name;
}
<html>
<body>
    <div class="container-fluid">
        <h2>
            Manage Your Event
        </h2>
        <hr />
        <div class="col-sm-5" id="eventconfirm">
            <h3 style="text-align:center">
                @Html.DisplayFor(model => model.Event.Name)
            </h3>
            <dl class="dl-horizontal">
                <dt>
                    Description:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Event.Description)
                </dd>
                <dt>
                    Details:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Event.Details)
                </dd>
                <dt>
                    Created:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Event.Created)
                </dd>
                <dt>
                    Due:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Event.Due)
                </dd>
                <dt>
                    End message:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Event.EndMessage)
                </dd>
                <dt>
                    Path name:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Event.PathName)
                </dd>
                <dt>
                    Public?
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Event.Public)
                </dd>
                <dt>
                    Allow comments?
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Event.AllowComments)
                </dd>
                <dt>
                    Email:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Event.OwnerEmail)
                </dd>
            </dl>
            <hr />
            <div class="form-group" style="text-align:center">
                <a class="btn btn-danger" title="Delete event" style="margin-left:5px" asp-controller="Account" asp-action="DeleteEvent" asp-route-id="@Model.Event.PathName">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </a>
                <a class="btn btn-warning" title="Edit event" style="margin-left:5px" asp-controller="Account" asp-action="EditEvent" asp-route-id="@Model.Event.PathName">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a class="btn btn-success" title="View event" style="margin-left:5px" asp-controller="Home" asp-action="ViewEvent" asp-route-id="@Model.Event.PathName">
                    <span class="glyphicon glyphicon-saved"></span>
                </a>
            </div>
        </div>
    </div>

    <h3>Create Account</h3>
    <hr />
    <form asp-action="EditDraftEventTest">
        <div class="form-group">
            <label>
                Full Name:
            </label>
            <input asp-for="Owner.Name" class="form-control" />
            <span asp-validation-for="Owner.Name" class="text-danger" />
        </div>
        <div class="form-group">
            <div class="form-group">
                <label>
                    Password:
                </label>
                <input asp-for="Owner.Password" class="form-control" />
                <span asp-validation-for="Owner.Password" class="text-danger" />
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</body>
</html>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}