@model EventViewModel

@{
    ViewData["Title"] = (Model == null) ? "New Event" : "Edit Event";
}

<link rel="stylesheet" href="~/css/jquery-ui.min.css" />
<link rel="stylesheet" href="~/css/jquery-ui.structure.min.css" />
<link rel="stylesheet" href="~/css/jquery-ui.theme.min.css" />
<link rel="stylesheet" href="~/css/jquery-ui-timepicker-addon.css" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script src="~/js/jquery-ui-timepicker-addon.js"></script>

<div id="neweventheader">
    @if (Model == null)
    {
        <h2>Create Your New Event</h2>
    }
    else
    {
        <h2>Update Your Event</h2>
    }
    <h4>Enter the event details</h4>
    <hr />
</div>

<div class="container-fluid">
    <div class="col-sm-5 col-sm-offset-3" id="newevent">
        <form asp-controller="Account" asp-action="NewEvent" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

            <div class="form-group" style="margin-top:10px;">
                <label asp-for="Name" class="col-md-4 control-label">Name of the event</label>
                <div class="col-md-8">
                    @if (Model == null || string.IsNullOrEmpty(Model.PathName))
                    {
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger" />
                    }
                    else
                    {
                        <input asp-for="Name" class="form-control" readonly />
                        <input asp-for="PathName" class="form-control" type="hidden" />
                    }
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Due" class="col-md-4 control-label">When will it happen?</label>
                <div class="col-md-8">
                    <input asp-for="Due" class="form-control" id="datepicker" />
                    <span asp-validation-for="Due" class="text-danger" id="date" />
                    @Html.ValidationMessage("Due")
                </div>
            </div>

            <div class="form-group">
                <label asp-for="OwnerEmail" class="col-md-4 control-label">Your email address</label>
                <div class="col-md-8">
                    <input asp-for="OwnerEmail" class="form-control" inputmode="email" />
                    <span asp-validation-for="OwnerEmail" class="text-danger" />
                    @Html.ValidationMessage("OwnerEmail")
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="col-md-4 control-label">Describe the event</label>
                <div class="col-md-8">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div>

            <!--===== Below are optional parameters =====!-->

            <a id="optionsbutton" class="btn btn-success center-block" onclick="$('#options').collapse('toggle');">
                <span class="glyphicon glyphicon-menu-hamburger"></span> More Options
            </a>

            <div id="options" class="collapse">

                <div class="form-group">
                    <label asp-for="Details" class="col-md-4 control-label">Any other details?</label>
                    <div class="col-md-8">
                        <textarea asp-for="Details" class="form-control" rows="5" id="comment"></textarea>
                        <span asp-validation-for="Details" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="sel1">Style:</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(x => x.StyleName, EventViewModel.Styles)
                    </div>
                </div>

                @if (Model != null && !string.IsNullOrEmpty(Model.PathName))
                {
                    <div class="form-group">
                        <label asp-for="EndMessage" class="col-md-4 control-label">Message when happened</label>
                        <div class="col-md-8">
                            <textarea asp-for="EndMessage" class="form-control" rows="5"></textarea>
                            <span asp-validation-for="EndMessage" class="text-danger" />
                        </div>
                    </div>
                }

                <div class="form-group">
                    <label asp-for="Public" class="col-md-4 control-label">Spread the word</label>
                    <div class="col-md-8">
                        <div class="radio">
                            @if (Model == null)
                            {
                                <label><input asp-for="Public" type="radio" value="true" checked title="Anyone can view the event" />Public</label>
                                <label>&nbsp;</label>
                                <label><input asp-for="Public" type="radio" value="false" title="Password required to view the event" />Password protected</label>
                            }
                            else
                            {
                                <label>@Html.RadioButtonFor(model => model.Public, "true")Public</label>
                                <label>&nbsp;</label>
                                <label>@Html.RadioButtonFor(model => model.Public, "false")Password protected</label>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-6 col-md-6">
                        <div class="checkbox">
                            <input asp-for="AllowComments" />
                            <label asp-for="AllowComments">Allow comments</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Add image(s)</label>
                    <div class="col-md-8">
                        <input type="file" name="file" accept="image/*" multiple class="btn btn-sm btn-primary" title="Select up to 5 images to upload" />
                        @Html.ValidationMessage("Image", null, new { @class = "text-danger" })
                    </div>
                </div>
@if (Model != null && Model.ImageUrls.Count > 0)
{
                <div class="form-group">
                    <label class="col-md-4 control-label">Remove image(s)</label>
                    <div class="col-md-8">
                    @foreach (string imgname in Model.ImageNames)
                    {
                        <input type="checkbox" name="DeletedImages" value="@imgname" title="Check to remove" />@:&nbsp;@imgname<br />
                    }
                    </div>
                </div>
}

            </div>

            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-11">
                    @if (Model == null || string.IsNullOrEmpty(Model.PathName))
                    {
                        <input type="submit" value="Create Event" class="btn btn-success" id="createeventbtn" />
                    }
                    else
                    {
                        <input type="submit" value="Save Changes" class="btn btn-success" id="createeventbtn" />
                    }
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
            $('#StyleName').on('change', function () {
                $('#css').attr('href', '/lib/bootstrap/dist/css/' + $('#StyleName').val() + '.css')
            });
            $(datepicker).datetimepicker({
                dateFormat: "dd/mm/yy",
                timeFormat: 'HH:mm',
                stepHour: 1,
                stepMinute: 1
            });
</script>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}